[Desktop Entry]
GenericName[pl]=Dostosowanie temperatury barwowej
Comment[da]=Justeringsværktøj for farvetemperatur
Comment[it]=Strumento per la regolazione della temperatura del colore
Comment[de]=Farbtemperatur Anpassungswerkzeug
Name[ru]=Redshift
Name[es]=Redshift
GenericName[da]=Justering af farvetemperatur
GenericName[fr]=Réglage de la température de couleur
Name[tr]=Redshift
StartupNotify=true
Hidden=true
Comment[fr]=Outil de réglage de la température de couleur
Name[de]=Redshift
GenericName[es]=Ajuste de la temperatura de color
Comment[zh_CN]=色温调节工具
GenericName[hu]=Szín hőmérséklet beállítás
Name[pt_BR]=Redshift
Comment[tr]=Renk sıcaklığı ayarlama aracı
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Version=1.0
GenericName[nl]=Kleurtemperatuur aanpassing
GenericName[lt]=Spalvos temperatūros reguliavimas
Name[hu]=Redshift
Comment[hu]=Színhőmérséklet beállító eszköz
Type=Application
Name[zh_CN]=红移
Name=Redshift
Name[fr]=Redshift
Comment[ru]=Инструмент регулирования цветовой температуры
Icon=redshift
GenericName[de]=Farbtemperatur Anpassung
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Categories=Utility;
GenericName[zh_CN]=色温调节
GenericName=Color temperature adjustment
GenericName[tr]=Renk sıcaklığı ayarı
GenericName[it]=Regolazione della temperatura del colore
Exec=redshift-gtk
GenericName[ru]=Настройка цветовой температуры
Comment=Color temperature adjustment tool
X-GNOME-Autostart-enabled=false
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Name[pl]=Redshift
Terminal=false
Name[it]=Redshift
GenericName[cs]=Přizpůsobení barevné teploty
Comment[es]=Herramienta para el ajuste de la temperatura de color
Name[lt]=Redshift

